.articleUpdate-container {
  width: 850px;
  height: 450px;
  margin: 50px auto;
  background: #555;
  padding: 20px 30px 20px 30px;
  color: #d3d3d3;
  text-shadow: 1px 1px 1px #444;
  border: none;
  border-radius: 5px;

  input:focus {
    outline: none;
  }
  textarea:focus {
    outline: none;
  }
  input:focus {
    border: 2px solid;
    border-color: #0070e5;
  }
  input:focus::placeholder {
    color: #0070e5;
  }
  textarea:focus {
    border: 2px solid;
    border-color: #0070e5;
  }
  textarea:focus::placeholder {
    color: #0070e5;
  }
  .articleUpdate-container-top {
    display: flex;
    .membar {
      display: flex;
      .member-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #000000;
        // background-color: #fecc2f;
        margin: 0 10px 0 0;
      }
  
      .membar-info{
        // margin:0 0 30px 20px;
  
        h4{
          margin-bottom: 5px;
        }
      }
    }
    
    .select1{
      height: 30px;
    }
    .updateLabel {
      display: flex;
      margin-left: 10px;
     
    }
    .updateTag {
      display: flex;
     
      height: 30px;
      margin-left: 120px;

      .updateTagName1{
        width: 100px;
      }
      .updateTagName2{
        width: 100px;
      }
      
   
    }
  }
  
  .updateInputTitle {
    margin-top: 50px;
    width: 500px;
    height: 30px;
  }
  .updateContent {
    margin-top: 20px;
    width: 500px;
    height: 300px;
  }
  .updateData {
    float: right;
    margin: -40px 0 0 0;
  }
  .updateImg {
    float: right;
    width: 300px;
    height: 200px;
    margin: -310px 15px;
  }
  .updateBtn {
    display: flex;
    float: right;
    margin: -30px 0 0 0;

    .updateCancle {
      margin-left: 30px;
    }
  }
}