$border: 1px solid #000000;


.articleCategory {
  display: flex;
  width: 1260px;
  margin: 0 auto;

  .articleCategoryButton {
    width: 250px;
    height: 40px;
    margin: 60px 40px 0 40px;

    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      background: #1178b8;
    }
  }
}
.articleHomePageAdd {
  position: relative;
  width: 1260px;

  margin: 0 auto;
  .articleHomePageAdd-btn {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 60px;
    background: #1178b8;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
}

.article-page {
  position: relative;
  width: 1260px;
  margin: 100px auto;

  .article-container-left {
    width: 960px;
  }

  .article-container-right {
    position: absolute;
    width: 250px;
    height: 820px;
    border: $border;
    background: 	#FCFCFC	;
    right: 0;
    top: 0;
    border-radius: 3px;
    .article-popular-top {
      text-align: center;
      border-bottom: 1px solid #000000;
    }

    .article-popular-list {
      list-style: none;


    }
  }
}
